{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tooth details</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img id="image" src="{% static 'webImages/logo_f.png' %}" width="50px" height="50px" alt="logo">
            <a href="http://127.0.0.1:8000/login/"><h3>DENTOLOGY</h3></a>
            <div class="logout">
                <h4>{{ context.name }}</h4>
                <a onclick="logout()" id="a1" href="#">LOG OUT</a>
            </div>
        </div>
        <!-- header end -->
        <div class="row row-detail ">
            <form action="" method="post" enctype="multipart/form-data">

            <div class="box-container">
                <div class="box1">
                    {% csrf_token %}
                    <h3 style="text-align: center;">Tooth no: 04</h3>

                    <div class="history">
                        <label for="HISTORY">HISTORY</label><br>
                        <textarea class="ta-tooth" name="history" id="" cols="80" rows="7" placeholder="Patient history..."></textarea>
                    </div>
                    <div class="plans">
                        <label for="plans" >PLANS</label><br>
                        <textarea class="ta-tooth"  name="future" id="" cols="80" rows="7" placeholder="plans"></textarea>
                        <div class="btns">
                            <div class="tooth-btn1">
                                <button class="tooth-btn" type="submit" href="#">Save</button></a>
                                <button class="cancel-btn tooth-btn" href="#" >cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            <!------------box container end------------>
            <div class="box2">
                <!-- <div id="image-container">
                    <img id="uploaded-image" src="images/tooth1.webp" alt="Uploaded Image" style="border: 2px solid black;">
                </div> -->
                <div class="gallery-container2">
                    <div class="gallery-item2">
                        <a ><img id="t-detail" src="{{ context.img }}" alt="Rose"></a>
                        <!-- <div class="caption">Rose</div> -->
                    </div>
                </div>
                <div id="upload-btn-wrapper">
                    <label for="avatar">Choose a profile picture:</label><br />
                    <input type="file" name="image" id="image" accept="image/*" onchange="displayImage(this)"> 
                </div>
            </div>
        </form>
            
        </div>
            
    </div>
    <script>
        function displayImage(input) {
            var file = input.files[0];
            if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('t-detail').setAttribute('src', e.target.result);
            };
            reader.readAsDataURL(file);
            }
        }
        </script>
</body>

</html>